<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style0.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>

    <style>@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
    </style>

<body>
    <div class="totaltime"
        style="margin-top: 20px;font-size: 35px; align-items: center; justify-content: center; text-align: center;">
        총 걸린시간
        <!-- <p id="countdown" onclick="stopCountdown()">10m 00s</p>
        <script src="./timer.js"></script> -->
    </div>

    <div class="flex-container">
        <div id="miro" class="text_effect">
            맛있는&nbsp;식사하세요:)
        </div>
    </div>

    <div id="miro" class="text_effect2" style="font-size: 30px;">
        다른&nbsp;메뉴를&nbsp;요리하고&nbsp;싶다면?
    </div>


    <div class="container">
        <button class="btn_group" id="choose" style="color: black; border: black;">Click!</button>
        <button class="btn_group" id="choose" onclick="document.location.href='index0.html'">Click!</button>
        <button class="btn_group" id="choose" style="color: black; border: black;">Click!</button>
    </div>
</body>

<script type="text/javascript" src="text.js"></script>

