html {
    background-color: black;
    font-family: 'Jua', serif;
    line-height: 1;
    color: white;
}

body {
    margin: 0;
    padding: 5px;
}

button {
    margin: 0px;
    text-align: left;
    border: 1px solid rgb(175, 166, 166);
    background-color: black;
    color: white;
}

#decrease {
    margin-right: 50px;
	background:linear-gradient(to bottom, #000000 5%, #000000 100%);
	background-color:#000000;
	border-radius:20px;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
	padding:22px 46px;
}
#increase {
    margin-left: 50px;
	background:linear-gradient(to bottom, #000000 5%, #000000 100%);
	background-color:#000000;
	border-radius:20px;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
    padding:22px 46px;
}

#btn_group{
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
}

#date {
    margin: 10px 20px 10px 0px;
    font-size: 30px;
    text-align: right;
}

li{list-style:none;}

.slide_wrapper {
  position: relative;
  float: left;
  width: 100%;
  height:460px;
  margin-top: 50px;
  overflow: hidden;
  text-align: center;
}

.slides {
  position: absolute;
  list-style: none;
  width: 100%;
  left:0; top:0;
  padding: 0;
  transition:top 0.5s ease-out;
}

.list{
  font-size: 25px;
  background: black;
  display:inline-block;
  color: white;
  width: 90%;
  height:140px;
  padding: 10px;
  margin: 0;
}

.controls{
  text-align: center;
  margin-top: 10px;
}

.controls span{
  background:#333;
  color: #fff;
  padding: 10px 20px;
  margin: 0 10px;
}

.controls span.prev{bottom: calc(100% + 50px);
}
.controls span.next{top: calc(100%  - 50px)
}

.container {
    width: auto;
    height: 80vh;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 5fr 5fr;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 100px;
}

.item {
    border: 2px solid gray;
    margin: 20px;
    padding: 0;
    font-size: 20px;
    text-align: left;
}

.item:nth-child(1) {
    color: rgb(243, 250, 217);
    margin-top: 0;
    border: 0;
    grid-column: 1 / 7;
    grid-row: 1;
}


.item:nth-child(1) {
    border: 0;
    grid-column: 1 / 5;
    grid-row: 2;
}

.item:nth-child(2) {
    border: 0;
    grid-column: 5 / 7;
    grid-row: 2;
}

.item:nth-child(3) {
    grid-column: 1 / 5;
    grid-row: 3;

}

.item:nth-child(4) {
    border: 0;
    grid-column: 5 / 7;
    grid-row: 3;
    font-size: 30px;
    text-align: center;

}

ol {
    color: white;
}

li {
    font-size: 30px;
    margin: 20px;
}

.mainVideo { 
    margin-top:20px; 
    position: relative; 
    width: 100%; 
    padding-bottom: 56.25%; 
} 
.mainVideo iframe { 
    position: absolute; 
    width: 100%; 
    height: 100%; 
}


#countdown {
    border: 3px solid lightgray;
    border-radius: 10px;
    margin: 5px;
    padding: 10px 5px 10px 5px;
    font-size: 20px;
    text-align: center;
}

hr {
    border: 0;
    border-top: 1px solid lightgrey;
    border-bottom: 0px solid lightgrey;
    margin: 0px;
}

.line {
    border: 0;
    border-top: 1px solid lightgrey;
    border-bottom: 0px solid lightgrey;
    border-width: 2px;
    margin: 0px;
}

.box {
    width: 20%;
    background-color: black;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.absolute {
    position: absolute;
    top: -20px;
    left: 20px;
}

.h2 {
    grid: 3;
}


#timer{
    text-align: center;
    font-size: 40px;
}
#countdown{
    display : inline-flex;
    text-align: center;    
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    margin: 0;
    height: 100px;
    width: 100%;
}

.wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.input-container {
    background: black;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;
}
.input-container label{
    font-size: 14px;
    font-weight: bolder;
    margin-right: 1rem;
}
.input-container input{
    font-size: 12px;
    flex:10;
    border-radius: 3px;
    border: none;
    height: 100%;
}
.send-button {
    margin-left: 5px;
    flex: 1;
    background: #ffeb33;
    border: none;
    height: 100%;
    border-radius: 4px;
}

.display-container{
    flex: 8;
    background: #b2c7d9;
}

.chatting-list {
    width: 95%;
    padding: 0.3rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    list-style: none;
}

/* .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.profile .user{
    font-size: 10px;
    margin-bottom: 0.3rem; 
}*/
/* .message {
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 15px;
    margin: 0 5px;
    flex: 7;
} */
/* .time {
    font-size: 10px;
    margin: 0 5px;
} */
/* .sent{
    flex-direction: row-reverse;
    float: right;
} */
.sent .message{
    background: #ffeb33;
}
.received .message{
    background: #fff;
}

.sent_box {
    display: inline-block;
	position: relative;
	background: #ffeb33;
	border: 3px solid #ffeb33;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 20px;
    font-weight:bolder;
    margin: 0 5px;  
    color: black;
    float: right;
    margin-bottom: 1rem;
}
.sent_box:after, .sent_box:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.sent_box:after {
	border-color: rgba(255, 235, 51, 0);
	border-left-color: #ffeb33;
	border-width: 7px;
	margin-top: -7px;
}
.sent_box:before {
	border-color: rgba(255, 235, 51, 0);
	border-left-color: #ffeb33;
	border-width: 11px;
	margin-top: -11px;
}

.recieve_box {
    display: inline-block;
	position: relative;
	background: #fff;
	border: 4px solid #fff;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 20px;
    font-weight:bolder;
    margin: 0 5px;
    color:black;
    float: left;
    
}
.recieve_box:after, .recieve_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.recieve_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #fff;
	border-width: 7px;
	margin-top: -7px;
}
.recieve_box:before {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #fff;
	border-width: 13px;
	margin-top: -13px;
}

.questionbox {
    border: 3px solid #ffffff;
    border-radius: 18px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 27px;
}


button {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 200px;
    height: 200px;
    border: 0;
    border-radius: 50%;
    padding: 0.7em 1em;
    margin: 4em auto 3em;
    text-align: center;
    color: #fff;
    background-color: #ffa726;
    box-shadow: 2px 5px 30px rgba(201, 162, 63, 0.4);
  
    will-change: transform, filter;
    transition: all 0.3s ease-out;
  }
  button .fa {
    font-size: 130px;
    line-height: 200px;
    margin: 0;
    text-shadow: 1px 2px 2px #fab148;
  }
  button:hover {
    transform: scale(0.92);
  }
  button:active {
    filter: brightness(0.8);
  }
  button:focus {
    outline: 0;
  }
  
  .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 1.3em;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 10px;
  }
  .fa-github::before {
    content: "\f09b";
  }